# =============== #
# Unity generated #
# =============== #
UnityGameFiles/Temp/
UnityGameFiles/Obj/
UnityGameFiles/Build/
UnityGameFiles/Library/
*.unitypackage
UnityGameFiles/Logs/
UnityGameFiles/UserSettings/
.vs/*
.vsconfig
Python/data/*
images/
data/
